.talent-hero {
  position: relative;
  height: 100vh;
  background: black;
  overflow: hidden;
}

.talent-grid {
  position: absolute !important;
  width: 220% !important;
  height: 220% !important;
  left: -60% !important;
  top: -30% !important;
  transform: rotateX(65deg) translateZ(-200px) !important;

  background-image:
    linear-gradient(to right, rgba(255,255,255,0.18) 1px, transparent 1px),
    linear-gradient(to top, rgba(255,255,255,0.18) 1px, transparent 1px);

  background-size: 80px 80px;
  opacity: 0.7;
}
